---
import Sidebar from "../components/Sidebar.astro";
import routes from "../routes.json";

// `content` for markdown pages.
const { title: rawTitle, content } = Astro.props;
const title = rawTitle ?? content.title;
const fullTitle = title ? `Sink's place - ${title}` : "Sink's place";

const jbMonoUrl =
  "https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css";
const gFontsUrl =
  "https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto+Mono:wght@100;300&display=swap";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <title>{fullTitle}</title>

    <!-- load fonts deferred -->
    <link
      rel="preload"
      href={gFontsUrl}
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href={jbMonoUrl}
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link rel="stylesheet" href={jbMonoUrl} />
      <link rel="stylesheet" href={gFontsUrl} />
    </noscript>

    <link rel="stylesheet" href={Astro.resolve("../styles.sass")} />
  </head>
  <body id="root">
    <Sidebar {routes} currentPath={Astro.request.canonicalURL.pathname} />
    <div id="content">
      <slot />
    </div>

    <style id="temp_dark" lang="sass">
      @media (prefers-color-scheme: dark)
        #root, img
          filter: "invert()"
        *
          transition-duration: 0ms !important
    </style>

    <script client:only>
      window.prefersDark = !!window.matchMedia("(prefers-color-scheme: dark)")
        .matches;

      if (
        document.cookie.split("; ").includes("dark") ||
        (!document.cookie.split("; ").includes("light") && window.prefersDark)
      )
        document.getElementById("root").className = "dark";

      document.getElementById("temp_dark").remove();
    </script>
  </body>
</html>
